appdirs==1.4.3
argh==0.26.2
click==6.7
csscompressor==0.9.4
Flask==0.12
Flask-Assets==0.12
Flask-Resize==2.0.3
Frozen-Flask==0.13
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
olefile==0.44
packaging==16.8
pilkit==2.0
Pillow==6.2.0
pyparsing==2.2.0
PyYAML==3.12
six==1.10.0
webassets==0.12.1
Werkzeug==0.11.15
