{% extends "layout.html" %}

{% block title %}Contact Us | {% endblock %}

{% block body %}
<section class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Contact</h1>
        </div>
    </div>
    <div class="row text-center">
        {% for site in contact_list %}
        <div class="col-sm-2 col-xs-4">
            <h4>{{ site.name }}</h4>
            <a class="btn btn-circle btn-lg brand-{{ site.id }}"
               href="{{ site.url }}">
                <i class="fa {{ site.icon }} fa-fw"></i>
            </a>
            <p class="text-center"><a href="{{ site.url }}">{{ site.username }}</a></p>
        </div>
        {% endfor %}
    </div>
</section>
<section class="container" id="staff">
    <div class="row">
        <div class="col-sm-12">
            <h1>Staff</h1>
        </div>
    </div>
    {% for person in staff %}
        <div class="row staff-row" id="staff_{{ person['email'].split('@')[0] }}">
            <div class="col-sm-3 col-xs-12 staff-img-cont">
                <img src="{{ '/static/images/staff/%s' % person['image'] }}"
                     class="img-responsive">
            </div>
            <div class="col-sm-9">
                <h2>{{ person['name'] }} <small>{{ person['position'] }}</small></h2>
                <p>{% if 'description' in person %}{{ person['description']|safe }}<br>{% endif %}
                    Contact me at <a href="mailto:{{ person['email'] }}">{{ person['email'] }}</a>
                </p>
                {% if 'questions' in person %}
                    <div class="row">
                    {% for question, answer in person['questions'].iteritems() %}
                        <div class="col-sm-6 col-md-4 q-and-a">
                            <strong>{{ question|safe|title }}</strong><br>
                            {{ answer|safe }}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}