{% extends "layout.html" %}

{% block title %}Contact Us | {% endblock %}

{% block body %}
<section class="inverse">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contact</h1>
            </div>
        </div>
        <div class="row text-center">
            {% for site in contact_list %}
            <div class="col-sm-2 col-xs-4">
                <h4>{{ site.name }}</h4>
                <a class="btn btn-circle btn-lg social-{{ site.id }}"
                   href="{{ site.url }}">
                    <i class="fa {{ site.icon }} fa-fw"></i>
                </a>
                <p class="text-center"><a href="{{ site.url }}">{{ site.username }}</a></p>
            </div>
            {% endfor %}
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <h3>General Correspondence</h3>
                <div class="col-md-6">
                    <p>
                        Can't decide who to contact? Email
                        <a href="mailto:info@wcpr.org">info@wcpr.org</a> and we'll help you find the
                        right place.
                    </p>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-circle btn-lg social-email" href="mailto:info@wcpr.org">
                        <i class="fa fa-at fa-fw"></i>
                    </a>
                    <p><a href="mailto:info@wcpr.org">info@wcpr.org</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Requests</h3>
                <div class="col-md-10 col-md-offset-1">
                    The request line is in-studio, and is only monitored while a DJ is on-air.
                    Calls during scheduled AutoDJ blocks are not monitored.</div>
            </div>
            <div class="col-md-4">
                <h3>Music Submissions & Packages</h3>
                <div class="col-md-6">
                    Music submissions, packages, and any physical mail should go to our mailbox.
                </div>
                <div class="col-md-6">
                    <b>
                        WCPR<br>
                        Box S-1840<br>
                        1 Castle Point Ter<br>
                        Hoboken, NJ 07030
                    </b>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container" id="staff">
    <div class="row">
        <div class="col-sm-12">
            <h1>Staff</h1>
        </div>
    </div>
    {% for person in staff %}
        <div class="row staff-row" id="staff_{{ person['email'].split('@')[0] }}">
            <div class="col-sm-3 col-xs-12 staff-img-cont">
                <img src="{{ '/static/images/staff/%s' % person['image'] }}"
                     class="img-responsive">
            </div>
            <div class="col-sm-9">
                <h2>{{ person['name'] }} <small>{{ person['position'] }}</small></h2>
                <p>{% if 'description' in person %}{{ person['description']|safe }}<br>{% endif %}
                    Contact me at <a href="mailto:{{ person['email'] }}">{{ person['email'] }}</a>
                </p>
                {% if 'questions' in person %}
                    <div class="row">
                    {% for question, answer in person['questions'].iteritems() %}
                        <div class="col-sm-6 col-md-4 q-and-a">
                            <strong>{{ question|safe|title }}</strong><br>
                            {{ answer|safe }}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}