{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome to WCPR</h1>
        </div>
        <div class="col-md-4" id="now_playing_full">Loading...</div>
    </div>
    <div class="row">
        <div class="col-md-6"><h2><i class="fa fa-fw fa-instagram"></i> Instas <small>by <a href="https://www.instagram.com/wcpr740/">wcpr740</a></small></h2>
            <iframe src="//lightwidget.com/widgets/c617cd50dc40501e8e887b301f13e593.html"
                    scrolling="no" allowtransparency="true" class="lightwidget-widget"
                    style="width: 100%; border: 0; overflow: hidden;"></iframe>
        </div>
        <div class="col-md-6">
            <h2><i class="fa fa-fw fa-twitter"></i> Tweets <small>by <a href="https://www.twitter.com/wcpr">@WCPR</a></small></h2>
            <a class="twitter-timeline" data-theme="light"
               data-height="1200" data-chrome="noscrollbar noheader nofooter noborders"
               href="https://twitter.com/WCPR">Tweets by WCPR</a>
        </div>
    </div>
</div>
{% endblock %}