{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8" id="greeting_text">
            <img src="/static/images/logos/logo2017_sm.png" class="img-responsive pull-left">
            <h1>Welcome</h1>
            WCPR is Stevens Institute of Technology's official radio station, providing original, independent programming that you can't hear anywhere else on the airwaves!
            <br><br>
            WCPR offers opportunities for Stevens students to gain experience with broadcasting, publicity & marketing. and business management. Come to our meetings 9:30 PM every Wednesday in the basement of Jacobus.
        </div>
        <div class="col-md-4" id="now_playing_full">Loading...</div>
    </div>
    <div class="row">
        <div class="col-md-6"><h2><i class="fa fa-fw fa-instagram"></i> Instas <small>by <a href="https://www.instagram.com/wcpr740/">wcpr740</a></small></h2>
            <iframe src="//lightwidget.com/widgets/c617cd50dc40501e8e887b301f13e593.html"
                    scrolling="no" allowtransparency="true" class="lightwidget-widget"
                    style="width: 100%; border: 0; overflow: hidden;"></iframe>
        </div>
        <div class="col-md-6">
            <h2><i class="fa fa-fw fa-twitter"></i> Tweets <small>by <a href="https://www.twitter.com/wcpr">@WCPR</a></small></h2>
            <a class="twitter-timeline" data-theme="light"
               data-height="1200" data-chrome="noscrollbar noheader nofooter noborders"
               href="https://twitter.com/WCPR">Tweets by WCPR</a>
        </div>
    </div>
</div>
{% endblock %}