{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col-md-8" id="greeting_text">
            <img src="/static/images/logos/logo2017_sm.png" class="img-responsive pull-right hidden-xs">
            <h1>WCPR - Castle Point Radio</h1>
            WCPR - Castle Point Radio is Stevens Institute of Technology's official radio station.
            <br><br>
            Not just known for our 24/7 original, independent programming, we're a welcoming community of music geeks that book shows with artists we love, offer lights and sound for events on campus, curate a one-of-a-kind record library, and provide students with valuable experience – including broadcasting, marketing, recording, business management, and arts advocacy!
            <br><br>
            Does what we do sound good to you? Then come on by our open meetings every Wednesday at 9:30 PM in the basement of the Jacobus Center.
        </div>
        <div class="col-md-4" id="now_playing_full">Loading...</div>
    </div>
</section>
<hr class="social">
<section class="container-fluid">
    <div class="row">
        <ul class="juicer-feed" data-feed-id="wcpr" data-gutter="15"></ul>
    </div>
</section>
{% endblock %}