<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta id="twitter_color" name="twitter:widgets:link-color">
    <title>{% block title %}{% endblock %}{{ config['name_long'] }}</title>

    <link href="//fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" type="text/css">

    {% assets "styles_main" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
    {% endassets %}

    <script>
        GLOBAL_SITE_CONFIG = {
            calendar: {
                api_key: '{{ config['calendar']['api_key'] }}',
                autodj_id: '{{ config['calendar']['autodj_id'] }}',
                shows_id: '{{ config['calendar']['shows_id'] }}'
            },
            NOW_PLAYING_URL: '{{ config['now_playing_url'] }}'
        }
    </script>

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div id="streaming_player"></div>

<nav class="navbar navbar-inverse navbar-static-top" id="navbar">
    <div class="navbar-header pull-left">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img class="img-responsive" src="/static/images/logos/seeperlogo_trans.gif"> <span class="brand-name hidden">{{ config['name'] }}</span>
        </a>
    </div>
    <div class="navbar-header pull-right">
        <ul class="nav navbar-nav">
            <li id="play_disabled">
                <i class="fa fa-spinner fa-pulse"></i>
                <span class="sr-only">Loading...</span>
            </li>
            <li id="jp_container_1" class="hidden">
                <i class="fa fa-play-circle-o jp-play"></i><span class="sr-only jp-play">Play</span>
                <i class="fa fa-pause-circle-o jp-pause"></i><span class="sr-only jp-pause">Pause</span>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul id="quality_select_dropdown" class="dropdown-menu dropdown-menu-right">
                </ul>
            </li>
        </ul>

        <button type="button" class="navbar-toggle collapsed" data-toggle="nav_collapse" data-target="#nav_collapse" aria-expanded="false" aria-controls="nav_collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="nav_collapse" class="navbar-collapse collapse navbar-left">
        <ul class="nav navbar-nav pull-left">
            <li><a href="{{ url_for('schedule') }}">Schedule</a></li>
            <li><a href="{{ url_for('mobile_unit') }}">Mobile Units</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="https://www.wcpralumni.com/">Alumni <i class="fa fa-external-link fa-fw"></i></a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                    More <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{{ url_for('contact', _anchor='staff') }}">Staff</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('policies') }}">Policies</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div id="now_playing_container">
    Now Playing:  <strong id="now_playing_simple"></strong>
</div>
<div id="play_progress_container" class="progress">
    <div class="progress-bar progress-bar-accent" role="progressbar" id="play_progress"></div>
</div>

<div id="page_container">
    <!--START_ANCHOR-->{% block body %}{% endblock %}<!--END_ANCHOR-->
</div>

<footer>
    <div class="container">
        <div class="pull-left">
            &copy; WCPR - Castle Point Radio<br>
            Stevens Institute of Technology, Hoboken, NJ
        </div>
        <div class="pull-right">
            {% for site in contact_list %}
                <a class="btn btn-circle social-gray"
                   href="{{ site.url }}">
                    <i class="{{ site.icon }} fa-fw"></i>
                </a>
            {% endfor %}
        </div>
    </div>
</footer>

</body>

<script async src="//lightwidget.com/widgets/lightwidget.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% assets "js_main" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

</html>