{% extends "layout.html" %}

{% block title %}Mobile Unit | {% endblock %}

{% block body %}
<section class="jumbotron" id="booking">
    <div class="container">
        <h1>Mobile Units</h1>
            <p>
               Unfortunately, as the station completes its move Mobile Unit services are currently unavailable. 
            </p>
           
    </div>
</section>
<section class="container" id="faq">
    <h1 class="text-center">Mobile Unit FAQs</h1>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% for question in faq %}
                <div class="mu-faq">
                    <h3>{{ question.q|safe }}</h3>
                    <p class="answer">{{ question.a|safe }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section id="docs">
    <div class="container">
        <h1 class="text-center">Mobile Unit Documents</h1>
        <div class="col-md-10 col-md-offset-1">
            <p>Find more information about Mobile Units in the following documents:</p>
            <ul>
                <li><a href="{{ url_for('static', filename='docs/WCPRMobileUnit_Contract.pdf') }}" target="_blank">
                    Mobile Unit Contract
                </a></li>
                <li><a href="{{ url_for('static', filename='docs/WCPRMobileUnit_PricesInfo.pdf') }}" target="_blank">
                    Mobile Units Packages & Prices
                </a></li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
