{% extends "layout.html" %}

{% block title %}Policies | {% endblock %}

{% block body %}
<section class="row" id="policies">
    <div class="col-md-12">
        <h1>Policies</h1>
    </div>
    <div class="col-md-12">
        <ol>
            <li>No indecent or obscene language, including lyrics (swearing, excretory, or
                sexual references) during Pierce Hours (7 AM – Midnight). Use
                <a href="https://en.wikipedia.org/wiki/Seven_dirty_words" data-x="out">George Carlin’s The Seven Words You Can Never Say On TV</a>
                and common sense as a guideline. Remember, the Stevens administration listens to
                WCPR - don't give us - or yourself - a bad image!</li>
            <li>WCPR property does not leave the station. Suspected or caught
                thievery will result in suspension and/or expulsion from WCPR.</li>
            <li>Members are expected to attend the general body meetings, held Wednesdays at 9:30 PM.
                A minimum of 1 per month is required to maintain member status;
                1 week advance notice is required to be excused. </li>
            <li>Email the WCPR e-board at <a href="mailto:info@wcpr.org">info@wcpr.org</a> as
                soon as possible if something breaks, malfunctions, or goes missing.</li>
            <li>Smoking, drugs, and alcohol are prohibited from use anywhere in the station. Food and
                drink is permitted in the station as long as it stays away from the
                equipment. Please clean up after yourself in any of the waste bins in the station.</li>
            <li>Always make sure AutoDJ is broadcasting when you leave.</li>
            <li>Make sure that all windows and doors are locked after your show is done.</li>
            <li>While on air, please do a station ID (saying "this is WCPR, Castle Point Radio", for example)
                at the beginning and end of your show, as well as during the show
                (roughly once every 15-20 minutes is a good frequency).</li>
            <li>WCPR members will not publicly mock, slander, or degrade any campus organization,
                individual, or the Institute as a whole. </li>
            <li>All guests must abide by the rules of WCPR. DJs are responsible for their guests.</li>
            <li>DJs are responsible for callers who go on air and what they say.</li>
            <li>Always observe station policies and FCC regulations.
                Stevens Policies must also be observed.
                Profanity is covered under FCC regulations. Show material should always respect copyright laws.</li>
        </ol>
    </div>
    <div class="col-md-12">

    </div>
</section>

{% endblock %}