{% extends "layout.html" %}

{% block title %}Schedule | {% endblock %}

{% block body %}
<section class="container">
    <h1>Schedule</h1>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfZ7u4sEPI3lCr2tYuBRyJphlS1w_owEjWTxkCJr9EcFlG0-Q/viewform?usp=sf_link"
                   class="btn btn-primary btn-lg btn-block" role="button">
                    Sign Up For Your Own Show
        </a>
    <div class="row">
        <div class="col-md-2 show-format-list">
            <h3>Legend</h3>
            {% for format in show_formats %}
                <div data-format="{{ format['id'] }}"
                     class="label format-toggle show-format-{{ format['id'] }}">
                    {{ format['name'] }}
                </div><br>
            {% endfor %}
        </div>
        <div class="col-md-10">
            <div id="schedule_calendar" class="hide-autodj"></div>
        </div>
    </div>
</section>
{% endblock %}
