
@import "bs.less";

@import (once) "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../fonts/font-awesome";

@import "player.less";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a:focus {
  outline: none;
  color: white;
}

// Nifty scrollbar

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: fade(@btn-default-bg, 30%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: fade(@btn-default-bg, 95%);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: fade(@btn-default-bg, 70%);
}

.row {
  padding-top: 10px;
}

.legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 21px;
  font-size: 22.5px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

#overlay {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  background-color: white;
  color: black;
  font-size: 3em;
}

#overlay div {
  width: 50%;
  height: 10%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
