
#now_playing_container {
  min-height: 10px;
  position: relative;
  background-color: @gray-darker;
  color: #fff;
  text-align: center;
}

#play_progress_container {
  height: 5px;
  border-radius: 0;
}